.research-outline-card {
    width: 409px;
    height: 82px;

    background: #f4f6f8;
    border-radius: 5px;
}
._input {
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #1d1d31;
}
