.process-main-card {
  box-sizing: border-box;

  // position: absolute;
  max-width: 740px;
  // height: 675px;
  min-height: 400px;
  // left: 296px;
  // top: 266px;
  border: 1px solid #dfe3e8;
  border-radius: 8px;
}

.process-side-card {
  // position: absolute;
  // min-width: 340px;
  height: 675px;
  // left: 1056px;
  // top: 266px;

  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  ._option {
    box-sizing: border-box;

    // position: absolute;
    // width: 310px;
    height: 56px;
    // left: 20px;
    // top: 71px;

    background: #ffffff;
    border: 1px solid #dfe3e8;
    border-radius: 5px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    /* Purple */

    color: #5a21ec;
  }
}

.side_header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-transform: capitalize;

  /* Secondary */

  color: #1d1d31;
}

.progress-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 9.9px;
  line-height: 15px;
  color: #667085;
}

.progress-percent {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19.8px;
  line-height: 26px;
  color: #1d1d31;
}

.step-info {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #7a7a7a;
}

.indexedStep {
  color: rgb(190, 190, 190);
  width: 15px;
  height: 15px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(206, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.indexedStep.accomplished {
  background-color: #664de5;
  color: white;
  border-style: none;
}

.RSPBprogressBar {
  height: 7px;
  // width: 30%;
  line-height: 1;
  border-radius: 10px;
  position: relative;
  background-color: rgb(207, 207, 207);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  // margin: 20px auto;
}

.RSPBprogressBar .RSPBstep {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
  transform: translateX(-50%);
  transition-property: all;
  transition-timing-function: ease;
}

.RSPBprogressBar .RSPBprogressBarText {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.RSPBprogressBar .RSPBprogression {
  position: absolute;
  transition: width 0.3s ease;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: #664de5;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  .indexedStep {
    width: 15px;
    height: 15px;
    font-size: 6px;
  }
}

.progress-text {
  // width: 353.33px;
  height: 14px;
  margin-top: 0.6rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  /* Secondary */

  color: #1d1d31;
}

.progressbar {
  height: 30px;
}

.process-sidebar-btn {
  background: #ffffff;
  border: 1px solid #5a21ec;
  color: #5a21ec;
}
